section.faq
    .container 
        .faq__top 
            p.title.faq__title FAQ
            p.faq__description Find out general information about our product. Advice and answers are provided from the CvyntarDirect Team.
        .faq__wrapper
            .faq__item
                .faq__item-head
                    h2.faq__item-title What is the Bitcoin payment gateway?
                    .faq__item-button
                .faq__item-body
                    p Bitcoin payment getaways help merchants and any type of online business to accept transactions in Bitcoin. But these days, most crypto payment processors also allow businesses to get access to altcoin transactions, and Cvyntar is no exception.
                    p With payment processors such as Cvyntar, you can get immediate conversion of Bitcoin and other cryptocurrencies into fiat to avoid any risks or hold cryptocurrency and pay with it to your partners and affiliates. Join Cvyntar and start accepting crypto payments using one of the best bitcoin payment processors on the market.
            .faq__item
                .faq__item-head
                    h2.faq__item-title How does a cryptocurrency payment processor work?
                    .faq__item-button
                .faq__item-body
                    p Let’s say you have a product or service to sell. You integrate Cvyntar to accept Bitcoin on your website or implement it for your business. After that, customers will be able to choose Cvyntar as an option to pay for your product/service. Clients will see the list of available cryptocurrencies for the transaction and they can choose what they want to pay with.
                    p To make a payment, Cvyntar generates a payment invoice. We provide a payment window for customers and calculate the actual price in the selected cryptocurrency. After transaction confirmation, you receive payment for your product/service and we send the transfer earnings to you in assets that suit you most (crypto or fiat).
            .faq__item
                .faq__item-head
                    h2.faq__item-title May I use crypto widgets for instant integration?
                    .faq__item-button
                .faq__item-body
                    p Yes. Just add embed HTML code to make crypto payments acceptable for your website and business and we will do the rest. Widget is easy to set up and support and there is no redirection to our site or other services. You can customize the widget design for your brand and website.
            .faq__item
                .faq__item-head
                    h2.faq__item-title May I integrate Cvyntar with Shopify, WooCommerce, and WordPress?
                    .faq__item-button
                .faq__item-body
                    p Yes. With our flexible API, you can easily start accepting crypto on major platforms and adapt plugins for your purposes.
            .faq__item
                .faq__item-head
                    h2.faq__item-title What cryptocurrencies can I accept for payments after integration?
                    .faq__item-button
                .faq__item-body
                    p Your customers will be able to pay for your goods and services with BTC, BCH, DASH, DOGE, ETH, LTC, TRX, and USDT. And that’s all using one service.
            .faq__item
                .faq__item-head
                    h2.faq__item-title How to sell something once I sign up for a Cvyntar account?
                    .faq__item-button
                .faq__item-body
                    p You can use numerous payment tools to start accepting cryptocurrency:
                    ul
                        li Payment buttons — add buttons on your website and users will be able to use it for paying with cryptocurrencies via Cvyntar
                        li Email Billing — allow your customers to pay you with cryptocurrencies by sending invoices via email
                        li Web checkouts — generate invoices through a web interface
                        li Hosted catalog — create buttons and set up a product catalog
            .faq__item
                .faq__item-head
                    h2.faq__item-title How do I refund a customer?
                    .faq__item-button
                .faq__item-body
                    p All transactions are processed by Cvyntar specialists, protecting our partners from any legal obligations. If customers or merchants face some issues or controversial transactions, they can address their cases to our specialist and we will help resolve the issue.
            .faq__item
                .faq__item-head
                    h2.faq__item-title How to accept Bitcoin for my business?
                    .faq__item-button
                .faq__item-body
                    p Just register an account and follow the instructions on a Cvyntar dashboard. You can use widgets for simple and fast integration or use our API to add more features.
            .faq__item
                .faq__item-head
                    h2.faq__item-title Which countries/states are not supported?
                    .faq__item-button
                .faq__item-body
                    p Afghanistan, Algeria, Bangladesh, Bolivia, Bosnia and Herzegovina, Burundi, Cambodia, Central African Republic, China, Cuba, Democratic People's Republic of Korea (DPRK), Democratic Republic of the Congo, Ethiopia, Guam, Guinea Bissau, Guyana, Iran, Iraq, Japan, Lao People's Democratic Republic, Lebanon, Libya, Mali, Morocco, Nepal, Pakistan, Puerto Rico, Somalia, South Sudan, Sudan, Syria, Trinidad and Tobago, Tunisia, Uganda, United States Virgin Islands, Vanuatu, Venezuela, Yemen, Zimbabwe.
                    p If you can’t choose specific countries, then it means we are currently not able to provide our services to you.
            .faq__item
                .faq__item-head
                    h2.faq__item-title How can I connect Cvyntar to a custom backend?
                    .faq__item-button
                .faq__item-body
                    p You can use Cvyntar API for bitcoin payment gateway integration and to create a unique user experience with your custom backend. The API allows you to set up your own features to create charges and to provide wallet addresses for your customer to pay to. To make API integration and interaction even easier, you can use several client libraries.