section.get-started 
    .container
        .get-started__wrapper 
            .get-started__top 
                p.title.get-started__title Ready to accept crypto?
                p.get-started__description Sign up for free and start using the top crypto payment processor for your business.
            .get-started__buttons
                a(href="https://docs.google.com/forms/d/e/1FAIpQLSf5pXWa1nIo3EoYSomSc4dPkn4a2OiTh6VynvZr0gwfSVoBXQ/viewform" target="_blank").btn.btn-primary.get-started__button Submit a request
                a(href="https://share.hsforms.com/1IgR6f7mwQqS14B6JNWfU4g3d8zs" target="_blank").btn.btn-secondary.get-started__button-alt Contact sales
    picture.get-started__image
        img(loading="lazy" src="img/graphic.svg" alt="graphic").get-started__image-img