section.plans
    .container 
        .plans__top
            h2.title.plans__title Select your plan
            p.plans__description Pick the most appropriate path for your business to accept Bitcoin and other cryptocurrencies
    .plans__slider.swiper 
        .swiper-wrapper 
            .swiper-slide.plans__slide 
                .plans__slider-title Fast Integration
                .plans__slider-box 
                    .plans__slider-item 
                        .plans__slider-text Transaction fee
                        .plans__slider-value 1%
                    .plans__slider-item 
                        .plans__slider-text Account Setup
                        .plans__slider-value Fast registration by email
                    .plans__slider-item 
                        .plans__slider-text Quick transaction settlement
                        .plans__slider-value
                            img(loading="lazy" src="img/checkmark-plans.svg" alt="checkmark-plans-icon")
                    .plans__slider-item 
                        .plans__slider-text 24/7 Support
                        .plans__slider-value -
                    .plans__slider-item 
                        .plans__slider-text API integration
                        .plans__slider-value -
                .plans__slider-button
                    a(href="https://docs.google.com/forms/d/e/1FAIpQLSf5pXWa1nIo3EoYSomSc4dPkn4a2OiTh6VynvZr0gwfSVoBXQ/viewform" target="_blank").plans__slider-button.btn.btn-primary Submit a request
            .swiper-slide.plans__slide 
                .plans__slider-title B2B Integration
                .plans__slider-box 
                    .plans__slider-item 
                        .plans__slider-text Transaction fee
                        .plans__slider-value 1%
                    .plans__slider-item 
                        .plans__slider-text Account setup
                        .plans__slider-value 2-3 weeks
                    .plans__slider-item 
                        .plans__slider-text Quick transaction settlement
                        .plans__slider-value
                            img(loading="lazy" src="img/checkmark-plans.svg" alt="checkmark-plans-icon")
                    .plans__slider-item 
                        .plans__slider-text 24/7 Support
                        .plans__slider-value
                            img(loading="lazy" src="img/checkmark-plans.svg" alt="checkmark-plans-icon")
                    .plans__slider-item 
                        .plans__slider-text API integration
                        .plans__slider-value
                            img(loading="lazy" src="img/checkmark-plans.svg" alt="checkmark-plans-icon")
                .plans__slider-button
                    a(href="https://share.hsforms.com/1IgR6f7mwQqS14B6JNWfU4g3d8zs" target="_blank").btn.btn-secondary Contact sales
        .swiper-pagination.plans__pagination
    .plans__table 
        .plans__wrapper 
            .plans__row
                .plans__content 
                    .plans__item.plans__item-title.plans__item-left
                    .plans__item.plans__item-title B2B Integration
            .plans__row
                .plans__content
                    .plans__item.plans__item-left Transaction fee
                    .plans__item 1%
            .plans__row
                .plans__content 
                    .plans__item.plans__item-left Account setup
                    .plans__item 2-3 weeks
            .plans__row
                .plans__content
                    .plans__item.plans__item-left Quick transaction settlement
                    img(loading="lazy" src="img/checkmark-plans.svg" alt="plans-icon").plans__item.plans__card-item-image
            .plans__row
                .plans__content 
                    .plans__item.plans__item-left 24/7 Support
                    img(loading="lazy" src="img/checkmark-plans.svg" alt="plans-icon").plans__item.plans__card-item-image
            .plans__row
                .plans__content
                    .plans__item.plans__item-left API integration
                    img(loading="lazy" src="img/checkmark-plans.svg" alt="plans-icon").plans__item.plans__card-item-image
            .plans__row
                .plans__content
                    a(href="https://share.hsforms.com/1IgR6f7mwQqS14B6JNWfU4g3d8zs" target="_blank").plans__item.plans__button-alt.btn.btn-secondary Contact sales
            .plans__card 
                .plans__card-item.plans__item-title.plans__card-title Fast Integration
                .plans__card-item 1%
                .plans__card-item Fast registration by email
                img(loading="lazy" src="img/checkmark-plans.svg" alt="plans-icon").plans__card-item.plans__card-item-image
                .plans__card-item -
                .plans__card-item -
                a(href="https://docs.google.com/forms/d/e/1FAIpQLSf5pXWa1nIo3EoYSomSc4dPkn4a2OiTh6VynvZr0gwfSVoBXQ/viewform" target="_blank").plans__card-item.plans__button.btn.btn-primary Submit a request